<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <h3>Water pumps</h3>
    <mat-selection-list #pumpsList [(ngModel)]="this.selectedPumps" (ngModelChange)="this.selectionChange($event)">
      <mat-list-option *ngFor="let pump of pumps" [value]="pump.id">
        {{pump.name}}
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>

  <mat-drawer-content>
    <div class="children-column">
      <mat-card>
        <form [formGroup]="waterOneTimeFormGroup" (ngSubmit)="this.onWaterNow()">
          <mat-card-title>
            Water plant (one time)
          </mat-card-title>
          <div class="children-row">
            <mat-form-field>
              <mat-label>Duration of pumping</mat-label>
              <input matInput type="number" id="wateringDurationInput" formControlName="wateringDurationInput">
              <span matSuffix>sec</span>
              <mat-error
                *ngIf="this.waterOneTimeFormGroup.get('wateringDurationInput').invalid">
                {{this.getWaterNowErrorMessage(waterOneTimeFormGroup, 'wateringDurationInput')}}
              </mat-error>
            </mat-form-field>
            <div class="mat-form-field">
              <!--todo unfuck [()] -> formcontrol-->
              <mat-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="useSensor">
                Use sensor
              </mat-checkbox>
            </div>
            <button mat-stroked-button type="submit" [disabled]="this.waterOneTimeFormGroup.invalid || this.selectedPumps.length < 1">
              <div *ngIf="!pendingRequest">
                <span *ngIf="!this.useSensor">Water now</span>
                <span *ngIf="this.useSensor">Trigger sensor check</span>
              </div>
              <div *ngIf="pendingRequest">
                <mat-spinner [diameter]=40></mat-spinner>
              </div>
            </button>
            <div id="water-now-defaults">
              <mat-menu #appMenu="matMenu">
                <button mat-menu-item>Load default</button>
                <button mat-menu-item>Set default</button>
                <button mat-menu-item>Load last value</button>
              </mat-menu>

              <button mat-icon-button type="button" [matMenuTriggerFor]="appMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
          </div>
        </form>
      </mat-card>
      <mat-card>
        <form [formGroup]="waterWithDelayFormGroup" (ngSubmit)="this.onWaterWithDelay()">
          <mat-card-title>
            Water with delay
          </mat-card-title>
          <div class="children-row">
            <mat-form-field>
              <mat-label>Duration of pumping</mat-label>
              <input matInput type="number" id="wateringWithDelayDurationInput" formControlName="wateringDurationInput">
              <span matSuffix>sec</span>
              <mat-error *ngIf="this.waterWithDelayFormGroup.get('wateringDurationInput').invalid">
                {{this.getWaterNowErrorMessage(this.waterWithDelayFormGroup, 'wateringDurationInput')}}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Watering delay</mat-label>
              <input matInput type="number" id="wateringDelayInput" formControlName="wateringDelayInput">
              <span matSuffix>min</span>
              <mat-error *ngIf="this.waterWithDelayFormGroup.get('wateringDurationInput').invalid">
                {{this.getWaterNowErrorMessage(this.waterWithDelayFormGroup, 'wateringDelayInput')}}
              </mat-error>
            </mat-form-field>
            <button mat-stroked-button type="button" [disabled]="this.waterWithDelayFormGroup.invalid || this.selectedPumps.length < 1">
              Set delay
            </button>
            <div id="water-with-delay-defaults">
              <mat-menu #appMenu="matMenu">
                <button mat-menu-item>Load default</button>
                <button mat-menu-item>Set default</button>
                <button mat-menu-item>Load last value</button>
              </mat-menu>
              <button mat-icon-button type="button" [matMenuTriggerFor]="appMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
          </div>
        </form>
      </mat-card>
      <mat-card>
        <button mat-stroked-button type="button" (click)="reschedule()">
          reschedule
        </button>
      </mat-card>
      <div>
        TODO ??
      </div>
      TODO automatic settings
    </div>
  </mat-drawer-content>
</mat-drawer-container>
