<mat-card>
  <form [formGroup]="form" (ngSubmit)="this.onSubmit()">
    <mat-card-title>
      create watering configuration
    </mat-card-title>
    <mat-form-field>
      <mat-label>code</mat-label>
      <input matInput id="code" formControlName="code">
    </mat-form-field>
    <mat-form-field>
      <mat-label>duration of watering</mat-label>
      <input matInput type="number" id="watering_duration" formControlName="watering_duration">
      <span matSuffix>sec</span>
      <!-- todo error -->
    </mat-form-field>
    <mat-list>
      <mat-list-item *ngFor="let watering_time of watering_times; let i = index">
        <mat-icon style="padding-right: 5px; cursor: pointer;" (click)="this.watering_times.splice(i, 1)">
          remove_circle_outline
        </mat-icon>
        <span>{{watering_time}}</span>
      </mat-list-item>
    </mat-list>
    <div class="row">
      <mat-form-field style="width: 80%; padding-right: 2%">
        <mat-label>add watering time</mat-label>
        <input matInput id="watering_time" #watering_time
               pattern="^([01]{0,1}[0-9]|2[0-3]):([0-5][0-9]|[0-9]):([0-5][0-9]|[0-9])$">
      </mat-form-field>
      <button mat-stroked-button style="width: 18%" type="button" (click)="addWateringTime(watering_time.value)">add
      </button>
    </div>
    <button mat-stroked-button type="submit" [disabled]="this.form.invalid || this.watering_times.length < 1">
      <div *ngIf="!pendingRequest">
        <div *ngIf="!instanceId">
          create
        </div>
        <div *ngIf="instanceId">
          update
        </div>
      </div>
      <div *ngIf="pendingRequest">
        <!-- todo diameters -->
        <mat-spinner [diameter]=""></mat-spinner>
      </div>
    </button>
  </form>
</mat-card>
